*{
    margin: 0;
    padding: 0;
}

    .encabezado{
        text-align: center;
        padding: 10px;
        margin: 20px;
    }
    h1{
        @extend .encabezado;
        color:crimson;
        font-family:'Marcellus SC', serif; 
    }
    $index:20px;
    $text:#dc143c;
    @mixin principal {
        margin: 20px;
        padding: 10px;
        img{
            margin: $index;
        }
        p{
            margin: 20px;
            color: $text;
            font-family:'Ramaraja', serif;
        }
        
        

    }
   h2{
       @include principal;
       font-family:'Marcellus SC', serif; 
   }
   table{
       @include principal;
   }
   img{
       @include principal;
   }
    p{
        @include principal;
    }
    a{
        text-decoration: none;
    }
  .pie{
    display: inline-flex;
    padding: 10px;
}
.pie p{
    margin: 5px;
    text-decoration: underline;
    color: crimson;
}
.pie iframe{
      border-style: solid;
      border-radius: 5px;
      border-color:red;
      margin: 5px;
}
.pie :hover img{
    transform: translate(10px,-20px);
}
.pie a{
    margin: 5px;
    
}
.pie div{
    justify-content: center;
}
.nosostros div{
    
    display: inline-block;
    
    
}
.consultas form{
    margin: 10px;
    background-image: url(../imagenes/concrete_wall.png);
    border-style: double;
    border-radius: 1px;
    border-color: #dc143c;
}
   
  


